@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style-type: none;
}
nav {
    background-color: black;
    color: aliceblue;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    font-family: 'Roboto', "sans-serif";



}

.gamecontainer{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: grid;
    font-family:'Roboto', "sans-serif" ;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);

}
.box{
    border: 2px solid red;
    font-size: 3vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: chartreuse;
}
.gameinfo{
    padding: 0px 34px;
    font-family: 'Baloo Bhaina 2', 'cursive';
}
.br-0{
    border-right: 0px;
}
.bl-0{
    border-left: 0px;
}
.bt-0{
    border-top: 0px;
}
.bb-0{
    border-bottom: 0px;
}